{% extends "base.twig" %}

{% block title %}Login page{% endblock %}

{% block body %}

    <div class="login-form-section">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/sign-in",
                    data: $(this).serialize(),
                    success: function (data) {
                        let response = JSON.parse(data);
                        if (response.success && response.redirect) {
                            window.location.replace(response.redirect);
                        } else {
                            alertify.alert(response.message);
                            $('.ajs-content').addClass('bg-danger');
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}
